{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block home %}
<div class="container about">
  <h1 class="main-about">About Us</h1>
  <div class="about-text">
    <h1>We are making wealth creation simple.</h1>
    <div class="row">
      <div class="col-sm-6">
        <p>Our Products are and will be designed to make stock market investing simple and easier for everyone. The Products
          offered by us will help you improve as an Investor.</p>
      </div>
      <div class="col-sm-6">
        <img src="https://nsang.org/_uploads/uploads/2019/5cc15dfcae5a1_1.png" alt=""/>
      </div>
    </div>
  </div>
</div>

{% endblock %}