{% extends 'base.html' %}

{% block title %}
<title>Contact Page</title>
{% endblock %}

{% block home %}
<div class="container-fluid responsive contact">
    <h1>Get in Touch</h1>
    <h2>Want to get in touch? We'd love to hear from you.<br />Here's how you can reach us.</h2>
    <div class="card-deck">
        <div class="card">
            <i class="bi bi-envelope-fill mail"></i>
            <div class="card-body">
                <h4 class="card-title">Mail Box</h4>
                <p class="card-text">Drop a mail to<br />info@investics.in</p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-twitter twitter"></i>
            <div class="card-body">
                <p class="card-text">Tag us on twitter<br/>@santhosh1861999</p>
                <a href="#" class="btn btn-primary">Follow us on Twitter for more</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}